* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

:root {
    --resume-left: #0D324D;
    --text-color: #F7F0F5;
    --text-color2: #555555;
    --icon-color: #F93E1A;
    --apple-bg-color: #FBFBFD;
    --border-bottom-color: #00A8E8;
    --radius: 10px;

    /* Test colors */
    /* --text2-color: #b1eaff; */
    --main-content-bg-1: #F7F0F5;
    --main-content-bg-2: #DECBB7;

}

/* Font usage */
/* 
H1, h2, h3: Garamond -> local font

subtitle: Droid-serif -> adobe font
font-family: droid-serif, serif;
font-weight: 400;
font-style: normal;

Droid Serif Bold font-family: droid-serif,serif;
font-weight: 700;
font-style: normal;

Droid Serif Italic font-family: droid-serif, serif;
font-weight: 400;
font-style: italic;

Droid Serif Bold Italic font-family: droid-serif, serif;
font-weight: 700;
font-style: italic;

Full Name: vivaldi -> local

p: Nunito -> google font 
font-family: 'Nunito',sans-serif;
*/

/* 
How to add multiple local fonts: 
https: //www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website
*/
@font-face {
    font-family: "garamond";
    src: url(./font/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
    src: url(./font/Cormorant_Garamond/CormorantGaramond-Italic.ttf);
    src: url(./font/Cormorant_Garamond/CormorantGaramond-Medium.ttf);
    src: url(./font/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}

@font-face {
    font-family: "george-sans";
    src: url(./font/George-sans/GeorgeRegular.ttf);
    src: url(./font/George-sans/GeorgeItalic.ttf);
    src: url(./font/George-sans/GeorgeBold.ttf);
}

@font-face {
    font-family: "vivaldi";
    src: url(./font/vivaldi/vivaldi.ttf);
}

h1 {
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

/* -------------------------------------------- */
/* -------------- Resume body ----------------- */
/* -------------------------------------------- */
.resume {
    width: 900px;
    margin: 50px auto;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 100%;
    border-radius: var(--radius);

    grid-template-areas:
        "profile-picture  right-content"
        "left-content     right-content"
    ;
}

.resume-left {
    background-color: var(--resume-left);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    height: 100%;
}

.profile-picture {
    grid-area: profile-picture;
    width: 100%;
    border-top-left-radius: var(--radius);
}

.profile-picture-circle {
    display: none;
}

.full-name {
    grid-area: left-content;
    font-family: "vivaldi", sans-serif;
    font-size: 3.5rem;
    color: #F7F0F5;
    margin-top: 1rem;
    margin-left: 2.5rem;
    display: flex;

    align-items: center;
}

.title {
    grid-area: full-name;
    font-size: 1.5rem;
    color: #F7F0F5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.1rem;
    margin-left: 3.2rem;
}

/* -------------------------------------------- */
/* -------- Resume content container ---------- */
/* -------------------------------------------- */
.resume-left-content {
    grid-area: left-content;
    padding: 0 3rem;
}

/* -------------------------------------------- */
/* -------- Resume info container ------------- */
/* -------------------------------------------- */
.resume-info,
.resume-skills,
.resume-social {
    padding: 2.5rem 0;
    /* border: 1px solid; */
    border-bottom: 2px solid var(--border-bottom-color);
}

.resume-info li {
    display: flex;
    align-items: center;
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    /* margin-left: 3rem; */
}

.fa-solid,
.fa-brands {
    font-size: 2rem;
    color: var(--icon-color);
    margin-right: 1rem;
}

.data,
a {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.data,
a {
    font-size: 1.5rem;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: #a09a9e;
}

.svg-icon {
    width: 2rem;
    margin-right: 1rem;
}


/* -------------------------------------------- */
/* ------------ Resume-skills ----------------- */
/* -------------------------------------------- */
.resume-skills h2 {
    font-family: "droid-serif", serif;
    font-size: 2.5rem;
    color: var(--text-color);
    padding-bottom: 1rem;
}

.resume-skills h3 {
    font-family: "droid-serif", serif;
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 2rem 0 2rem 0;
}

.resume-left .skill-category {
    display: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.skill-category img {
    width: 4rem;
}

.resume-skills p {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--text-color);
}

strong {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color);
}

.skill-mobile {
    display: none;
}

/* --------------------------------------------- */
/* ------------ Resume-Socials ----------------- */
/* --------------------------------------------- */
.resume-social {
    border-bottom: none;
}

.resume-social li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.resume-social h2 {
    font-family: "droid-serif", serif;
    font-size: 2.5rem;
    color: var(--text-color);
    padding-bottom: 1rem;
}

.resume-social a {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}


/* --------------------------------------------- */
/* --------- Resume right container ------------ */
/* --------------------------------------------- */
.resume-right {
    grid-area: right-content;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: var(--apple-bg-color);
    padding: 2.5rem;
}

.about-me,
.work-experience,
.self-study,
.official-education,
.hobby {
    padding: 2.5rem 0;
    border-bottom: 2px solid var(--border-bottom-color);
}


.about-me .work-experience .self-study .official-education,
h2 {
    font-family: "garamond", sans-serif;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.work-experience .self-study .official-education,
li {
    list-style-type: none;
}

.work-experience .self-study .official-education,
.date {
    font-family: "droid-serif", serif;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--text2-color);
}

/* The followings are all div elements. */
.jobname-title,
.date,
.about-me-style {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: var(--text2-color);
}

/* --------------------------------------------- */
/* -------------- About me --------------------- */
/* --------------------------------------------- */




/* --------------------------------------------- */
/* ---------- Work Experience ------------------ */
/* --------------------------------------------- */
.work-experience .work-exp-pic {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 2rem;
    /* Centering with calc guide: 
    https: //jbena1996.medium.com/centering-popup-with-css-using-calc-css-function-9a7848ec6e73
    */
    margin-left: calc((100% - 50%) / 2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.work-experience .info {
    margin-bottom: 1.5rem;
}

.work-experience .info .jobname-title {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    color: var(--text2-color);
}

.work-experience .job-des {
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--text2-color);
}

.work-experience ul {
    padding-left: 4rem;
}

.work-experience li {
    position: relative;
}

.work-experience li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.work-experience li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    /* height: 82px; */
    height: 108%;
    background: #0bb5f4;
}

.work-experience li:nth-of-type(3)::after {
    height: 75px;
}

/* ------------------------------------------------------------ */
/* ------------- Self Study & Official Education -------------- */
/* ------------------------------------------------------------ */
.self-study-pic,
.official-edu-pic {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: calc((100% - 50%) / 2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.self-study .official-education,
.edu-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--text2-color);
}

.self-study .official-education,
.self-official-ul {
    padding-left: 4rem;
}

.self-study.official-education,
li {
    margin-bottom: 1.5rem;
    position: relative;
}

.self-study li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.self-study li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 61px;
    background: #0bb5f4;
}

.official-education li:before {
    content: "";
    position: absolute;
    top: 4px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.official-education li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 61px;
    background: #0bb5f4;
}

.self-study li:nth-of-type(6)::after {
    height: 55px;
}

.official-education li:nth-of-type(2)::after {
    height: 55px;
}

/* --------------------------------------------- */
/* ----------------- Hobby --------------------- */
/* --------------------------------------------- */
.hobby {
    border-bottom: none;
    margin: 0 3rem;
}

.hobby h2 {
    font-family: "garamond", sans-serif;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.hobby ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hobby li {
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    position: relative;
    color: #0bb5f4;
}

.hobby ul li:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -59px;
    width: 58px;
    height: 2px;
    background: #0bb5f4;
}

.hobby li i {
    font-size: 3.5rem;
    margin: auto;
}

.hobby ul li:last-child:before {
    display: none;
}

/* --------------------------------------------- */
/* ------------- Mobile View ------------------- */
/* --------------------------------------------- */
@media screen and (min-width: 1px) and (max-width: 899px) {
    .resume {
        /* all: initial; */
        width: 100vw;
        margin: 0;

        display: grid;

        grid-template-columns: auto;
        grid-template-rows: auto;
        border-radius: var(--radius);

        grid-template-areas:
            "profile-picture"
            "left-content"
            "right-content"
        ;

        align-items: center;
        border-radius: none;
    }

    .profile-picture {
        display: none;
    }

    .profile-picture-circle {
        display: initial;
        max-width: 260px;
        margin-top: 20px;
    }

    /* --------------------------------------------- */
    /* ---------------- Resume Left ---------------- */
    /* --------------------------------------------- */
    .resume-left {
        width: 100%;
        /* min-width: 400px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resume-left-content {
        width: 100%;
    }

    /* .skill-category {
        display: none;
    }

    .skill-mobile {
        display: initial;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    } */

    .resume-social {
        display: flex;
        flex-direction: column;
    }

    .resume-social-mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }

    .resume-social-mobile li {
        display: flex;
        align-content: center;
    }

    .resume-left .full-name,
    .title {
        margin-left: 0;
    }

    /* ---------------------------------------------- */
    /* ---------------- Resume Right ---------------- */
    /* ---------------------------------------------- */
    .resume-right {
        width: 100%;
    }

    .hobby ul li {
        margin-right: 2rem;
    }

    .hobby ul li:before {
        display: none;
    }
}